@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700|Red+Hat+Display:400,700,900&display=swap');

:root {
    --black-color: #000000;
    --dark-gray-color: #353b40;
    --light-gray-color: #d2d3d4;
    --blue-color: #3f59a6;
    --red-color: #dc062b;
    --super-light-gray: #f3f3f3;
    --custom-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* floating social icon 外掛 */
#icon_wrapper {
    top: 80%;
}

/* overwrite betheme style  */
body {
    color: #ffffff;
    margin-bottom: 0 !important;
}

body.mobile-side-slide {
    margin-bottom: 0 !important;
}

a:hover {
    text-decoration: none;
}

.search-not-found {
    padding-bottom: 10%;
}

.search-not-found .snf-pic i {
    font-size: 150px;
    line-height: 170px;
}

.widget-area:before {
    background: none;
}

#Top_bar .container {
    max-width: 100%;
    margin: 0;
}

#Top_bar {
    box-shadow: unset !important;
    -webkit-box-shadow: unset !important;
}

#Content {
    padding: 0;
    background-color: #ffffff !important;
}

#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar>a img {
    object-fit: cover;
}

/* top-bar style */

#Top_bar #logo {
    height: 90px !important;
}

#Top_bar .container {
    border-bottom: solid 10px var(--black-color);
}

#Top_bar .one.column {
    width: 100%;
    height: 120px;
}

#Top_bar .menu_wrapper {
    position: relative;
    top: 40px;
    float: none;
}

#Top_bar a.responsive-menu-toggle {
    right: 0;
    top: 65px;
}

.icon-menu-fine:before {
    font-weight: 700;
    color: var(--black-color);
}

/* top right style */
#Top_bar .top_bar_right {
    top: 70px !important;
    position: absolute;
    right: 0;
    z-index: 99;
}

#Top_bar a#search_button {
    position: unset;
}

.top_bar_right a:nth-child(2),
.top_bar_right a:nth-child(3),
.top_bar_right a:nth-child(4) {
    padding: 0 10px 5px;
    border-left: solid 2px black;
}

#Top_bar .menu>li>a span:not(.description) {
    border: none;
}

/* top bar search */
#Top_bar .search_wrapper {
    background: #ffffff !important;
    top: 130px;
    width: 98vw;
}

#Top_bar .search_wrapper input[type="text"] {
    border-color: var(--light-gray-color) !important;
    color: var(--black-color);
}

/* slick slider style  */
.slick-arrow {
    color: #ffffff;
}

.icon-right-open-big {
    position: absolute;
    bottom: 50%;
    right: 0;
    font-size: 20px;
}

.icon-left-open-big {
    position: absolute;
    bottom: 50%;
    z-index: 99;
    font-size: 20px;
}

.index-header-banner-icon {
    display: none;
    z-index: 99;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

/* 列表字體 */
.portfolio-item .entry-title,
.entry-title {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 0;
    line-height: 1.3;
    margin-right: 20px;
}

.second-title {
    font-size: 12px !important;
    font-weight: 500px;
    color: var(--blue-color);
}

.portfolio-item .desc-wrapper,
.post-excerpt {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.7;
    color: #000;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

.post-photo-wrapper,
.portfolio-item .image_frame {
    border: 0;
}

.image_links {
    display: none;
}

/* 列表title-bar */
.title-bar {
    display: flex;
    justify-content: space-between;
    background: var(--dark-gray-color);
    align-items: center;
    height: 40px;
    white-space: nowrap;
}

.title-bar h1 {
    font-size: 23px;
    font-weight: normal;
    margin: 0 0 0 20px;
    color: #ffffff;
}

.title-bar a {
    margin-right: 20px;
    color: #ffffff;
}


.title-bar-long .title-bar h1::after {
    content: '';
    width: 62px;
    height: 19px;
    position: absolute;
    top: 0;
    border-bottom: 4px solid #ffffff;
    -webkit-transform: skewY(-40deg);
    transform: skewY(-40deg);
}

/* youtube 自訂mfb側邊工具 */
.youtube-side-section {
    display: flex;
    padding: 5%;
}

.youtube-side-section div {
    margin: 0 5%;
}

.youtube-side-section img {
    width: 50px;
    height: 50px !important;
}

.youtube-item {
    box-shadow: var(--custom-shadow);
}

#video-icon {
    min-width: 50px;
    height: 50px!important;
}

/* mobile side menu */

#Side_slide li.current-menu-parent ul {
    display: unset !important;
}

#Side_slide #menu ul li ul {
    display: unset !important;
}

#Side_slide .current-menu-parent {
    border-bottom: none;
}



/* menu show all the time */

li.current-menu-parent ul,
#menu li.current-menu-item ul {
    display: flex !important;
}

#Top_bar .menu>li>ul.mfn-megamenu {
    width: 125% !important;
    position: absolute;
    top: 60px;
    left: -2%;
    justify-content: center;
}


#Top_bar .menu>li>ul.mfn-megamenu>li {
    width: 10% !important;
}

/* menu hover style */

#Top_bar #menu {
    position: relative;
    top: 30px;
}

#Top_bar .menu>li>a {
    padding: 0 !important;
    height: 50px;
    font-size: 18px;
    color: var(--black-color) !important;
}

#Top_bar .menu>li.current_page_item>a {
    border-bottom: solid 10px var(--blue-color);
    color: var(--black-color) !important;
}

#Top_bar .menu>li ul li a {
    font-size: 16px;
    font-weight: 500 !important;
}

#Top_bar .menu li ul li a span:hover {
    color: var(--blue-color);
}

.current-menu-parent {
    border-bottom: solid 10px var(--blue-color);
}

#Top_bar .menu>li.current-menu-parent>a {
    color: var(--black-color) !important;
}

.submenu-lohas-active a {
    color: var(--blue-color) !important;
}

#Top_bar .menu>li ul {
    background-color: var(--light-gray-color) !important;
    box-shadow: var(--custom-shadow);
    -webkit-box-shadow: var(--custom-shadow);
    background-image: none;
}




/* breadcrumbs */
#Subheader ul.breadcrumbs li span {
    opacity: 1;
    font-weight: 500;
    color: var(--black-color);
}


/* event search option style */

.datepicker--day-name {
    color: var(--blue-color);
}

/* center widget content */
#text-3 .textwidget {
    display: flex;
    justify-content: center;
}

.search-box-section {
    width: 100%;
}

.search-box-title {
    font-size: 23px;
    line-height: 30px;
}

.search-event-option h1 {
    font-size: 28px;
}

.select-div,
.datepicker-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
}

.search-btn {
    margin: 0;
    width: 100%;
    height: 50px;
    background-color: var(--blue-color);
    font-size: 16px;
}

.keyword-div input {
    width: 100%;
    margin-bottom: 8px;
    height: 35px;
}

.search-box-select {
    border-radius: 50px;
    margin: 3px 0;
    width: 100%;
    height: 35px;
    padding: 0 10px;
}

.keyword-div input,
.search-box-select,
.datepicker-input {
    border: solid 1px var(--blue-color) !important;
}

.datepicker-div {
    height: 40px;
}

.datepicker-input {
    height: 35px;
    width: 100% !important;
}

.datepicker-input:nth-child(1) {
    margin-right: 15px;
}

.all-select-div {
    margin-bottom: 10px;
}

/* 音樂展演列表 */
.post-list-wrap {
    display: flex;
    margin: 5%;
    box-shadow: var(--custom-shadow);
}

.button-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.button-icon div {
    margin-right: 20px;
    width: 25px;
    white-space: nowrap;
}

.post-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.post-event-desc {
    padding-left: 3%;
}

.post-content {
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 33px;
}

.post-content p {
    margin-bottom: 2px;
}

#event-list-section {
    margin: 0 auto;
    max-width: 1200px;
}

/* 音樂展演列表 search option*/
.event-search-option {
    background: #f3f3f3;
    min-height: 400px;
}

#event-header-section {
    max-width: 1366px;
    margin: 0 auto;
}

#event-header-section img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.custom-en-title {
    font-size: 35px;
    color: #ffffff;
    /* margin-bottom: 30px; */
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;

}

.custom-title {
    font-size: 60px;
    color: #ffffff;
    font-weight: 100;
    line-height: 1;
}

.custom-title-wrapper {
    position: absolute;
    padding: 4% 5%;
}

/* 音樂展演列表/音樂專欄-large-list */

/* .large-list .button-icon {
    display: none;
} */

.large-list .events-title,
.large-list .portfolio-title {
    background-color: var(--light-gray-color);
    padding: 5px 3%;
    margin-bottom: 27px;
    justify-content: space-between;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    color: var(--black-color);
}

.large-list .post-events-img {
    width: 600px;
}

.large-list .post-event-desc-wrapper {
    width: 70%;
    margin-left: 46px;
}

.large-list .post-list-wrap {
    border-bottom: solid 1px var(--light-gray-color);
    box-shadow: unset;
    padding-bottom: 5%;
    margin: 0 0 5% 0;
}

.large-list .post-list-wrap:nth-last-child(1) {
    border: none;
    margin: 0;
    padding-bottom: 20px;
}

.large-list .entry-title {
    width: 70%;
}

/* 音樂展演列表-small-list */
.small-list {
    margin-bottom: 5%;
}

.small-list .post-event-desc-wrapper {
    width: 100%;
}

.small-list .post-title,
.small-list .post-content {
    margin-bottom: 0;
}

.small-list .post-event-desc {
    margin: 13px;
}

.small-list .post-list-wrap {
    margin: 20px 0;
    max-height: 150px;
}

.small-list .second-title {
    margin: 0;
}

.small-list .post-excerpt {
    max-width: 750px;
}


.small-list .image_wrapper img {
    min-height: 150px;
    object-fit: cover;
}

/* 音樂展演內頁 */
.post-events-section-group,
.portfolio {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 5% auto;
    max-width: 1200px;
}

.top-icon {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px var(--light-gray-color);
    padding-bottom: 5px;
}

.title_wrapper {
    margin: 15px;
    padding: 0;
    border-color: #ffffff !important;
}

.post-header .button-love a.mfn-love {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.post-header .button-love {
    width: 25px;

}

.post-main-title {
    font-size: 24px;
    line-height: 1.2;
    color: var(--black-color);
}

/* .newest-three-post {
    margin: 5%;
} */



/* 音樂展演內頁左側資訊欄 */
.post-events-section-group .post-side-wrapper {
    background: var(--dark-gray-color);
    padding: 35px;
    margin: auto;
    color: #ffffff;
}

.post-events-section-group .section-post-header {
    width: 300px;
    margin: 0 auto;
}

.post-events-each {
    display: grid;
    margin-bottom: 20px;
}

.events-each-title {
    font-size: 16px;
    font-weight: normal;
}

.events-each-content {
    font-size: 14px;
    font-weight: 300;
}

.events-btn {
    width: 100%;
}

.events-btn button {
    width: 100%;
    margin: 40px 0;
    background-color: var(--blue-color);
    color: #ffffff;
    height: 60px;
    font-size: 16px;
}

/* 子頁首 */

#Subheader .title {
    display: none;
}

#Subheader {
    background-color: #ffffff !important;
    padding: 30px 35px;
}

#Subheader .container {
    margin: 0;
    padding: 0 !important;
}

.subheader-both-left #Subheader .breadcrumbs {
    margin-top: 4%;
}

#Subheader:after {
    background: none;
}

#Subheader ul.breadcrumbs li a {
    color: var(--black-color) !important;
    font-size: 16px;
    font-weight: 500;
}

/* 觀點隨筆列表*/
.custom-width {
    max-width: 1200px;
    margin: auto;
}

/* 觀點隨筆 作者欄*/

#columnist-section {
    margin-bottom: 8%;
}

#columnist-section .author-area {
    display: flex;
    overflow-y: hidden;
}

.author-title {
    text-align: center;
    background: rgba(243, 243, 243, 0.9);
    padding: 5px;
    position: relative;
    bottom: 30px;
    color: var(--black-color);
}

.author-title:hover {
    background: var(--dark-gray-color);
    color: #ffffff;
}

.author_active {
    background: var(--dark-gray-color);
    color: #ffffff;
}

.every-author {
    display: grid;
    grid-template-columns: 20% 80%;
    background: var(--blue-color);
    height: 150px;
}

.all-author {
    display: grid;
    text-align: center;
    color: #ffffff;
    position: relative;
    top: 50px;
    width: 70px;
    margin: auto;
}

.all-author:hover {
    border-bottom: solid 2px var(--red-color);
}

.en-title {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Red Hat Display', sans-serif;
}

.author-image {
    min-height: 100%;
    width: 100%;
}

.author-image img {
    min-width: 100%;
    max-width: unset !important;
}

.discription-detail {
    display: grid;
    grid-template-columns: 20% 80%;
    background: var(--dark-gray-color);
    padding: 3% 0;
    color: #ffffff;
}

.author-name {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.author-description {
    font-weight: 300;
    margin-right: 10%;
}

/* 觀點隨筆內頁左側作者欄*/
.portfolio-side-wrapper {
    background: var(--dark-gray-color);
    margin: 0 10% 0 auto;
    color: #ffffff;
    max-width: 300px;
}

.portfolio-author-detail {
    padding: 40px;
}

.portfolio-author-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

.portfolio-author-description {
    font-weight: 300;
    margin-right: 10%;
    line-height: 1.5;
    margin: auto;
}

.portfolio-author-img img {
    width: 100%;
}

.post-header .title_wrapper {
    margin: 0;
    padding: 15px 0;
    border-left-width: 0;
}

.post-header .title_wrapper h1 {
    font-size: 24px;
    line-height: 1.2;
    color: var(--black-color);
}

.author-image img {
    height: 150px !important;
    object-fit: cover;
}

/* 觀點隨筆內頁*/

.newest-three-post-area .title-bar h1::after {
    content: '';
    width: 82px;
    height: 16px;
    position: absolute;
    border-bottom: 4px solid #ffffff;
    -webkit-transform: skewY(-40deg);
    transform: skewY(-40deg);
}

.newest-three-events-in-single,
.newest-three-post-in-single,
.newest-three-portfolio-in-single {
    margin: auto;
    max-width: 1200px;
    padding: 0 5%;
}

.post-wrapper-content {
    padding: 0 5%;
}

.more-content {
    display: none;
}

/* 音樂新聞 */
#menu-news-menu {
    display: flex;
    background: var(--light-gray-color);
}

#menu-news-menu li a {
    margin: 0;
    background: none;
    color: var(--black-color);
    border: none;
    padding: 20px 25px;
}

#menu-news-menu li:nth-child(1) {
    margin-left: 10%;
}

/* 好康分享 */
#news-section .post-title {
    display: block;
}

#news-section .button-icon {
    display: none;
}

#news-section .posts_group.grid.col-2 .post-item {
    width: 47.65%;
    border: solid 1px var(--light-gray-color);
}

#news-section .post-desc-wrapper {
    min-height: 200px;
}

#news-section .blog_wrapper {
    margin: auto;
    max-width: 1200px;
}

.member_only {
    color: var(--red-color);
}

/* defalut pagination style */
.pager {
    /* margin: 10% 0 5% 0; */
}

.pager .pages {
    background: none;
    margin: 20px 0;
}

.next_page,
.prev_page {
    color: var(--black-color);
    font-size: 20px;
}

.next_page:hover,
.prev_page:hover {
    color: var(--blue-color);
    text-decoration: none;
}

.pager .pages a {
    background-color: var(--light-gray-color) !important;
    border-radius: 50px;
}


.pager .pages a.active {
    background-color: var(--blue-color) !important;
    border-radius: 50px;
}

.pagination-pre-next,
.pagination-first-last,
.pagination-pre-next,
.pagination-first-last {
    font-size: 20px;
    font-weight: 500;
}

/* pagination custom page*/
.pagination {
    text-align: center;
}

.page-numbers {
    background-color: var(--light-gray-color);
    border-radius: 50px;
    padding: 8px 14px;
    color: var(--black-color);

}

.page-numbers a {
    width: 50px;
    height: 50px;
}

.current {
    background-color: var(--blue-color) !important;
    border-radius: 50px;
    color: #ffffff;
}

/* 登入註冊 */
.woocommerce form.login,
.woocommerce form.register {
    border: none;
    background-color: #f3f3f3;
    border-radius: 0;
}

.woocommerce form .form-row input.input-text {
    border: 1px solid var(--blue-color);
}

.woocommerce-Button .button {
    border-radius: 0;
}

/* 自定義小工具 video*/
.video-tool {
    box-shadow: var(--custom-shadow);
}

.video-tool iframe {
    width: 100%;
    min-height: 200px !important;
}

.video-tool iframe,
.music-tool img,
.blog-tool img,
.ad-tool img {
    width: 100%;
}

/* 自定義小工具 top10*/
#top-section {
    background-color: #f3f3f3;
}

#top10-area-wrapper {
    padding: 20px 30px;
}

.top10-detail {
    display: flex;
}

.top10-name {
    line-height: 1.3;
    width: 80%;
    margin-left: 10px;
    align-items: center;
    display: flex;
}

.top10-name a {
    color: var(--black-color);
}

.top10-num {
    color: #ffffff;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background: var(--light-gray-color);
    border-radius: 100px;
}

.top10-num:hover {
    background: var(--red-color);
    cursor: pointer;
}

.top10-area {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px var(--light-gray-color);
}

.top10-title-span {
    font-size: 18px;
    padding-left: 2px;
}

/* 自定義小工具 購票廠商連結*/
.partner-wrapper {
    text-align: center;
    margin: 10%;
}

.partner-tool img {
    width: 200px;
    padding-bottom: 10%;
}

/* home page aside */
.widget {
    padding-bottom: 5%;
    margin-bottom: 5%;
}

/* 音樂新聞, 媒合分類shordcode */
.post-cat-list-area {
    display: flex;
    align-items: center;
    background-color: var(--light-gray-color);
    height: 70px;
    padding-left: 10%;
    overflow-y: hidden;
}

.post-cat-list-area ul {
    display: flex;
    list-style: none;
    margin: 0;
    align-items: center;
}

.post-cat-list-area ul a {
    margin-right: 50px;
    color: var(--black-color);
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    white-space: nowrap;
    text-align: center;
}


/* 音樂新聞, 媒合分類content*/
.post-list-section-custom-area {
    padding: 5%;
    max-width: 1200px;
    margin: auto;
}

.post-pagination .pagination {
    padding: 3% 0;
}

/* 特別企劃 樂享生活列表 */
.special-portfolio-list-wrap {
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 30px;
    border-bottom: solid 1px var(--light-gray-color);
}

.special-portfolio-list-wrap .image_wrapper img {
    min-width: 100%;
    /* height: 400px !important; */
    /* object-fit: cover; */
}


.special-portfolio-list-wrap .post-event-desc {
    padding: 5% 10% 0;
}

.special-portfolio-list-wrap .button-icon,
.special-portfolio-list-wrap .post-title {
    justify-content: center;
}

.special-portfolio-list-wrap .post-excerpt {
    text-align: left;
}

.special-portfolio-list-wrap .portfolio-title {
    display: none;
}

.special-portfolio-list-wrap .entry-title {
    font-size: 30px;
}

.special-portfolio-list-wrap button {
    width: 200px;
    border: solid 4px var(--blue-color);
    margin: 0;
    background-color: #ffffff;
    color: var(--blue-color);
    font-size: 16px;
}

.special-portfolio-list-wrap .button-favorites,
.special-portfolio-list-wrap .button-love,
.special-portfolio-list-wrap .button-view-count {
    margin: 0 20px 10px;
}

.button-view-count {
    cursor: default;
}

/* 特別企劃 樂享生活內頁 */
.portfolio-no-author {
    display: block;
    max-width: 1200px;
    margin: 3% auto;
}

.portfolio-no-author .post-wrapper-content {
    padding: 0;
}

.portfolio-no-author .entry-content {
    max-width: 800px;
    margin: auto;
}

/* 內頁模板 */
.read-more-btn {
    width: 200px;
    border: solid 4px var(--blue-color);
    margin: 0;
    background-color: #ffffff;
    color: var(--blue-color);
    font-size: 16px;
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    margin: auto;
}

.read-more-btn:hover {
    cursor: pointer;
}

/* 音樂新聞資源媒合submenu  */

.cat-list-active {
    position: relative;
    top: -15px;
    width: 70px;
}

.cat-list-active::before {
    position: relative;
    content: url('https://musico.demo.lohaslife.cc/wp-content/uploads/2019/10/Polygon-active-icon.png');
    width: 20px;
    height: 20px;
}

.single-post .cat-list-active::before {
    top: 2px;
}

/* 全站搜尋欄 */
.mobile-search #searchform {
    padding: 30px 0;
}

.search-custom-area {
    background: #f3f3f3;
    padding: 40px 0;
}

.search-checkbox-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 40px;
}

.search-checkbox-list-div {
    display: flex;
    justify-content: space-between;
}

.search-checkbox-area label {
    white-space: nowrap;
    padding: 0 10px;
}

.search-checkbox-area button {
    margin: 0;
    white-space: nowrap;
    width: 150px;
    font-size: 14px;
}

.search-keyword-area {
    margin-bottom: 15px;
    height: 40px;
    width: 100%;
}

.search-keyword-area input {
    border: solid 1px var(--blue-color)!important;
    width: 100%;
    margin: 0 auto 0 50px;
}
.search-clean-area button{
   word-break: keep-all;
    margin: 0;
    height: 41px; 
    font-size: 14px;
}


.checkmark {
    font-size: 14px;
}

.search-keyword-area i {
    position: relative;
    top: -37px;
    left: 90%;
    font-size: 20px;
    color: var(--blue-color);
}


/* 展演活動全站搜尋欄 */
.events-search-section {
    padding: 5%;
    background: var(--super-light-gray);
    max-width: 1200px;
    margin: auto;
}

.events-search-section .all-select-div {
    display: grid;
    grid-template-areas: upper upper upper;
}

.select-div-one {
    grid-area: upper;
}

.events-search-section .select-div {
    margin-right: 5px;
}

.events-search-section .search-box-select {
    width: 100%;
}

.clean-btn-div {
    float: right;


}

.searchform-title-btn-div {
    display: flex;
    justify-content: space-between;
}

/* 全站搜尋欄custom check box */
.search-box-container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.search-all-form-title {
    display: flex;
    width: 50%;
}

/* Hide the browser's default checkbox */
.search-box-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: relative;
    height: 10px;
    width: 10px;
    border: solid 2px var(--blue-color);
    margin-right: 5px;
}

/* On mouse-over, add a blue background color */
.search-box-container:hover input~.checkmark {
    background-color: var(--blue-color);
}

/* When the checkbox is checked, add a blue background */
.search-box-container input:checked~.checkmark {
    background-color: var(--blue-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.search-box-container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.search-box-container .checkmark:after {
    top: -2px;
    left: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* 會員中心 */
#customer_login {
    padding-top: 50px;
}

.user-dashboard-div {
    text-align: center;
}

.lohasit-customer-woocommerce {
    display: flex;
    max-width: 1080px;
    margin: 0 auto 5% auto;
}

.user-image {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background: var(--light-gray-color);
    margin: 10px auto;
    top: 50px;
}

.user-code {
    border-bottom: solid .5px white;
    font-size: 12px;
    color: #ffffff;
    padding-bottom: 30px;
}

.user-navigation-section {
    text-align: center;
}

.user-navigation-section {
    width: 30%;
}

.user-navigation-list ul {
    list-style: none;
    margin: 0;
}

.user-navigation-list ul li {
    border-bottom: solid .5px white;
    margin: 0;
    color: #ffffff;
    padding: 15px 0;
    font-size: 16px;

}

.user-navigation-list a:hover {
    text-decoration: none !important;
    color: var(--blue-color);
}

.user-name,
.user-code,
.user-navigation-list {
    background: var(--dark-gray-color);
}

.user-name {
    padding: 50px 0 0;
    color: #ffffff;
    font-size: 16px;
}

.user-image img {
    border-radius: 150px;
    max-width: 150px !important;
    height: 150px !important;
    object-fit: cover;
}

.lohasit-customer-woocommerce .woocommerce-MyAccount-content,
.lohasit-customer-woocommerce .user-favorite-section,
.lohasit-customer-woocommerce .user-blog-section,
.lohasit-customer-woocommerce .user-privacy-section {
    margin-left: 5%;
    margin-top: 100px;
    margin-bottom: 0;
    border-left: solid 1px var(--dark-gray-color);
    width: 100%;
}

.lohasit-customer-woocommerce .form-row-first,
.lohasit-customer-woocommerce .form-row-last {
    width: 100% !important;
}

.user-favorite-list-table-title,
.user-blog-list-table-title {
    background: var(--light-gray-color);
}

.user-favorite-list-table-content td,
.user-blog-list-table-content td {
    text-align: left !important;
}

.user-favorite-area select {
    float: right;
    width: 20%;
}

.user-favorite-section h3,
.user-blog-section h3,
.user-privacy-section h3,
.user-detail-section h3 {
    border-bottom: solid 1px var(--dark-gray-color);
    padding: 5%;
    font-weight: 500;

}

.user-favorite-list-div,
.edit-account,
.user-blog-list-div,
.user-blog-div,
.user-privacy-list-div {
    padding: 5% 0 0 5%;
}

.user-page-nav-title {
    position: relative;
    top: 30px;
}

.user-page-nav-title h3 {
    font-weight: 500;
    font-size: 16px;
}

.style-simple table:not(.recaptchatable) th,
.style-simple table td {
    border-width: 0 0 1px 0;
}

.user-favorite-list-table-title th {
    text-align: left;
}

.user-favorite-list-table-content td:nth-last-child(1) {
    width: 10%;
    text-align: center !important;
    color: var(--blue-color);
}

.favorite-title a,
.blog-title a {
    color: var(--black-color);
}

/* footer */
.one-fourth.column {
    width: 15%;
}

.one-second.column {
    width: 60%;
}

.one-second {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#Footer .widgets_wrapper .widget {
    white-space: nowrap;
    padding: 15px 0 0;
}

#Footer .widgets_wrapper {
    padding: 20px 0 0 0 !important;
}

#Footer .current-menu-parent {
    border: none;
}

.widget_nav_menu {
    padding: 15px !important;
}

.widget_nav_menu ul {
    list-style: none;
    padding: 0;
}

.widget_nav_menu ul li {
    line-height: 9px;
    font-weight: 300;
}

.widget_nav_menu ul li:after {
    width: 0;
}

#Footer a {
    color: #ffffff !important;
}

#Footer {
    background-color: var(--black-color) !important;
}

#Footer h4 {
    font-size: 18px;
}

/* footer 1 */
#text-10 {
    text-align: center;
}

.socialicon {
    /* display: flex;
    justify-content: space-evenly; */
    width: 150px;
    margin: auto;
    align-items: center;
    padding-top: 10px;
}

.socialicon a {
    padding: 0 5%;
}

/* footr 2 */
#text-11 {
    padding-right: 15px !important;
}

#text-11 img {
    margin: 0;
    position: relative;
    top: 5px;
}

#Footer .footer_copy .one {
    padding: 0;
    display: flex;
    justify-content: center;
}

#Footer .footer_copy {
    border-top: 0;
}

#Footer .footer_copy .copyright {
    float: left;
    margin: 0 10%;
}

#Footer .footer_copy .container {
    max-width: 100vw;
}

#back_to_top {
    background: url(/wp-content/uploads/2019/10/back-to-top-icon.svg);
    background-size: contain;
    width: 100px;
    height: 38px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;

}

#back_to_top i {
    visibility: hidden;
}

/* 網誌 */
#musico-user-blog {
    max-width: 1200px;
    margin: 0 5%;
}

#musico-user-blog .blog-author {
    padding-left: 10px;
}

.blog-left-section .blog-list-wrap {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 50px 0;
    border-bottom: solid 1px var(--light-gray-color);
}

#musico-user-blog .pagination {
    padding: 5% 0;
}

#musico-user-blog .size-thumbnail {
    width: 100%;
}

#musico-user-blog .blog-desc {
    margin: 0 5%;
}

.blog-left-section .blog-list-wrap:nth-child(1) {
    padding: 0 0 5% 0;
}

#musico-user-blog .author-img {
    display: flex;
    align-items: flex-end;
}

#musico-user-blog .author-img img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    object-fit: cover;
}

.blog-right-section .blog-list-wrap {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.blog-right-section .blog-list-desc-wrapper {
    padding: 5%;
}

/* 網誌列表 */

#musico-top-user .mcb-wrap-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
}

#musico-user-blog .second-title {
    position: relative;
    top: 15px;
}

#musico-top-user img {
    width: auto;
    height: 200px;
    object-fit: cover;
}

#musico-top-user .column {
    width: 100%;
}

.team.team_circle .image_frame.photo {
    width: 200px;
    height: 200px;
}

.team.team_circle .desc_wrapper .hr_color {
    color: var(--light-gray-color);
    background: var(--light-gray-color);
    height: 2px;
    width: 60%;
}

.team .desc_wrapper .desc {
    margin: 0 20px;
}

#musico-user-blog .blog-section {
    margin-right: 5%;
}

/* 其他內頁 */
.post-section-group-in-single {
    margin: 3% 0 5% 0;
}

.post-section-group-in-single .section {
    max-width: 800px;
    margin: auto;
}

.post-section-group-in-single .section_wrapper {
    max-width: 1200px;
}

#respond {
    padding: 5%;
}

#respond #submit,
#bbp_reply_submit,
#bbp_topic_submit {
    margin: 0 0 10px 0;
    width: 200px;
    background-color: var(--blue-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}