/* small screen */
@media only screen and (max-width: 768px) {
    #Top_bar #logo {
        display: flex;
    }

    #Top_bar .logo #logo {
        margin: 15px 25px;
    }

    #Top_bar a.responsive-menu-toggle {
        top: 0 !important;
        color: var(--black-color);
        top: 72px !important;
    }

    #Top_bar a.responsive-menu-toggle i {
        line-height: 25px;
    }

    #Subheader ul.breadcrumbs {
        display: block;
    }

    .minimalist-header-no #Subheader {
        padding: 30px 0 20px 20px !important;
    }

    /* 音樂展演列表 */
    .post-list-wrap {
        display: inline-table;
        width: 100%;
    }

    #event-header-section img {
        height: auto;
    }

    .large-list .post-events-img {
        width: 100%;
    }

    .large-list .post-events-img img {
        width: 100%;
    }

    .large-list .post-event-desc-wrapper {
        width: 100%;
        margin: 0;
    }

    .large-list .events-title {
        padding: 5px;
        margin-bottom: 5px;
    }

    .large-list .post-content {
        margin-bottom: 10px;
    }

    .post-event-desc {
        padding: 5px;
    }

    .small-list .image_wrapper img {
        width: 100%;
    }

    .small-list .post-content {
        margin-bottom: 33px;
        margin-top: 20px;
    }

    .pagination {
        margin: 10%;
    }

    .large-list .entry-title {
        width: 100%;
    }

    .newest-three-post-area .title-bar {
        margin-bottom: 5%;
    }

    .title-bar h1 {
        font-size: 12px;
    }

    /* 全站搜尋結果分類mobile */
    #sub-btn {
        width: 100%;
    }

    .search-all-form-title {
        max-width: 298px;
        min-width: 298px;
        margin: auto;
    }

    .search-keyword-area {
        width: 100%;
    }

    .search-keyword-area input {
        width: 100%!important;
        margin: 0 auto;
        width: 267px;
    }

    .search-keyword-area i {
        top: -37px;
        left: 83%;
        position: relative;
    }

    .search-checkbox-area {
        display: grid;
        justify-content: center;
        margin: 0;
    }

    .search-checkbox-list-div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: relative;
        left: 5px;
    }

    .search-box-container {
        justify-content: flex-end;
    }

    .search-checkbox-area {
        padding: 0;
    }

    /* 會員中心 */
    .lohasit-customer-woocommerce {
        display: block;

    }

    .lohasit-customer-woocommerce .user-navigation-section {
        width: 100%
    }

    .lohasit-customer-woocommerce .woocommerce-MyAccount-content,
    .lohasit-customer-woocommerce .user-favorite-section,
    .lohasit-customer-woocommerce .user-blog-section,
    .lohasit-customer-woocommerce .user-privacy-section {
        padding: 0;
        margin-left: 0;
        margin-top: 50px;
        border-left: none;
    }

    .lohasit-customer-woocommerce .user-favorite-list-div,
    .lohasit-customer-woocommerce .edit-account,
    .lohasit-customer-woocommerce .user-blog-list-div,
    .lohasit-customer-woocommerce .user-privacy-list-div {
        padding: 0;
    }

    .post-title {
        display: block;
    }

    .author-title {
        bottom: 28px;
    }

}

@media only screen and (min-width: 768px) {
    .button-icon {
        padding: 0 !important;
    }

    .user-dashboard-div {
        padding-left: 5%;
    }

    .search-btn-list-diva {
        margin-left: 10px;
    }

    #Top_bar .logo #logo {
        margin: 0;
    }
}

@media only screen and (min-width: 1422px) {
    .video-tool iframe {
        min-height: 250px !important;
    }
}

/* xlarge screen */
@media only screen and (min-width: 1920px) {
    #event-header-section {
        max-width: 1630px;
        margin: 0 auto;
    }
}


/* large screen */
@media only screen and (min-width: 1240px) {

    .cat-list-active::before {
        top: 5px;
    }

    #musico-user-blog {
        max-width: 1200px;
        margin: 0 auto;
    }

    #Footer .container {
        max-width: 1220px;
        margin: 0 auto;
    }

}

@media only screen and (min-width: 1080px) {
    .mobile-search {
        display: none;
    }
}

@media only screen and (max-width: 1251px) {
    .large-list .post-title {
        display: block;

    }

    .large-list .button-icon {
        padding-top: 10px !important;
    }

    .large-list .entry-title {
        width: 100%;
    }
}


@media only screen and (max-width: 1080px) {

    /* 音樂展演內頁左側資訊欄 */
    .post-events-section-group {
        grid-template-columns: 1fr;
        margin: 0;
    }

    .post-events-section-group .section-post-header {
        width: 90%;
    }

    .post-events-each {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .entry-title {
        font-size: 16px !important;
    }

    .button-icon {
        padding: 10px 0;
    }

    .button-icon-single-area .button-icon {
        display: flex;
    }

    /* 音樂展演列表 */
    .event-search-option {
        display: none;
    }

    .event-cover {
        width: 100% !important;
    }

    #text-3 {
        display: none;
    }

    /* 首頁廣告 */
    #header-banner-icon {
        width: 50px;
    }

    /* footer */
    #Footer .widgets_wrapper .container .column {
        width: 100% !important;
    }

    #back_to_top {
        float: none;
    }

    #text-11 {
        text-align: center;
    }

    .title-bar h1 {
        font-size: 20px;
    }

    /* 網誌列表 */
    #musico-top-user .mcb-wrap-inner {
        grid-template-columns: 1fr 1fr;
    }

    .blog-left-section .blog-list-wrap {
        display: block;
    }

    #back_to_top {
        width: 50px;
        height: 20px;

    }

}

@media only screen and (max-width: 1239px) and (min-width: 960px) {
    #Subheader.container {
        margin: 0;
    }

    .portfolio_group.grid.col-3 .portfolio-item {
        width: 31%
    }


}

@media only screen and (max-width: 960px) and (min-width: 414px) {

    /* 作者專欄內頁 */
    .portfolio-author-img img {
        width: 700px;
        height: 100%;
        object-fit: cover;
    }

    .portfolio-author {
        display: flex;
    }

    /* youtube video 小工具 */
    .video-tool iframe {
        height: auto !important;
    }
}

@media only screen and (max-width: 767px) and (min-width: 700px) {
    #Top_bar .top_bar_right {
        top: 96px !important;
    }

    #Top_bar a.responsive-menu-toggle {
        top: -40px !important;
    }

    #Top_bar a.responsive-menu-toggle {
        right: 190px;
    }
}

@media only screen and (max-width: 700px) {
    #Top_bar a.responsive-menu-toggle {
        top: 0 !important;
        color: var(--black-color);
        left: 5px;
        top: -15px !important;
    }

    .mobile-tb-center #Top_bar .top_bar_right {
        text-align: left;
        top: 129px !important;
        position: absolute;
    }

    #Top_bar a.responsive-menu-toggle::after {
        content: '';
        background: var(--black-color);
        height: 26px;
        width: 2px;
        position: absolute;
        right: -10px;
    }

    .section_wrapper {
        padding: 0 5% !important;
    }
}

@media only screen and (max-width: 414px) {

    #musico-user-blog .blog-section {
        margin-right: 0;
    }

    #Side_slide {
        width: 60%;
    }

    .mobile-search {
        padding: 5% !important;
    }

    /* youtube video 小工具 */
    .video-tool iframe {
        min-height: 150px !important;
    }
}



@media only screen and (max-width: 960px) {

    /* 斜槓bar */
    .title-bar-long .title-bar h1::after {
        width: 60px;
        height: 20px;
    }

    .author-description {
        padding: 15px 0 15px 15px;
    }

    .author-name {
        padding-top: 15px;
    }

    .portfolio_group.grid.col-3 .portfolio-item {
        width: 100% !important;
    }

    #text-11 {
        text-align: center;
    }

    /* 作者專欄內頁 */
    .portfolio-have-author {
        display: grid;
        grid-template-columns: 100%;
        margin: 5%;
    }

    .post-wrapper-content {
        margin-top: 50px;
    }

    .portfolio-side-wrapper {
        margin: 0;
        max-width: 100%;
    }

    .post-wrapper-content .section_wrapper {
        padding: 0 !important;
    }

    /* 音樂新聞媒合分類list */
    .post-cat-list-area {
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .single-post .cat-list-active::before {
        top: -4px;
    }

    /* 網誌列表 */
    #musico-top-user .mcb-wrap-inner {
        grid-template-columns: 1fr;
    }

    .post-events-each {
        grid-template-columns: 1fr;
    }


    /* 會員中心 */
    .user-favorite-list-table-content td:nth-last-child(1),
    .user-blog-list-table-content td:nth-last-child(1) {
        padding: 0;
    }

    #insert-blog-btn button,
    .user-blog-Feature-img button {
        width: 100% !important;
    }

    /* 音樂展演 */
    .custom-en-title {
        font-size: 30px;
    }

    .custom-title {
        font-size: 40px;
        line-height: 1;
    }


    .portfolio-no-author .post-wrapper-content {
        padding: 0 5%;
    }

    /* 廣告欄位 */
    .no-border-ad-mobile>div {
        padding: 0 !important;
    }

}