/*
Theme Name: Betheme
Author: Muffin group
Description: The biggest WordPress Theme ever
Theme URI: http://themes.muffingroup.com/betheme
Author URI: http://muffingroup.com
License: Themeforest Split Licence
License URI: -
Version: 17.3

All css files are placed in /css/ folder
*/

body{
    overflow: hidden;
}
.shop_table input[name="update_cart"] {
    display:none !important;
}