body #mfn-item-add .mfn-popup-items .mfn-item-content {
    display: none !important;
}

body.role-administrator #mfn-item-add .mfn-popup-items .mfn-item-content {
    display: inherit !important;
}

/*# sourceMappingURL=admin-css.css.map */