@media only screen and (max-width: 1239px) and (min-width: 960px) {
    .with_aside .content_wrapper {
        max-width: 1240px !important;
    }
}

@media only screen and (max-width: 959px) and (min-width: 768px) {
    .with_aside .content_wrapper {
        max-width: 959px !important;
    }

    /* 列表 meduim screen */
    .posts_group {
        grid-template-columns: 1fr 1fr 1fr !important;
    }

    /* 首頁 with side bar  */
    .with_aside .sidebar.columns {
        width: 35% !important;
    }

    .with_aside .sections_group {
        width: 65% !important;
    }
}


@media screen and (max-width: 1080px) {

    /* 展演收尋欄mobile */
    #mobile-search {
        margin: 0 3.5% 50px;
    }

    /* 好康分享/資源媒合 */
    #two-late-news .mcb-section-inner {
        display: grid !important;
    }

    #two-late-news .one-second.mcb-wrap {
        width: 100%;
    }
}

.with_aside .content_wrapper {
    max-width: 1700px !important;
}


.sections_group {
    margin: 0;
}


/* 列表 */
.button-icon {
    display: none;
}

.posts_group,
.index-events-section,
.index-portfolio-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.index-events-section img,
.index-portfolio-section img {
    width: 100%;
    object-fit: cover;
}

.grid .post-item,
.index-events-area,
.index-portfolio-area {
    border: solid 1px #e8e8e8;
    width: 100% !important;
}

.index-events-area,
.index-portfolio-area {
    margin: 0 0 20px 0;
}

.index-event-desc {
    padding: 20px;
}

.post-title {
    display: block;
}

/* 音樂專欄作品列表 */

.portfolio-item {
    border: solid 1px #e8e8e8;
    margin-bottom: 20px;
}

.portfolio_group .desc-wrapper,
.portfolio_group .details-wrapper {
    display: block !important;
}

.portfolio_group .portfolio-item .desc .desc-wrapper {
    margin-right: 0 !important;
}

.portfolio_group .portfolio-item .desc {
    max-height: 200px;
    min-height: 200px;
}

.portfolio_group.grid .portfolio-item {
    margin: 0 20px 0 0 !important;
}

.portfolio_group.grid.col-3 .portfolio-item:nth-last-child(1) {
    margin: 0 !important;
}

.portfolio_group.grid.col-3 .portfolio-item {
    width: 31%;
}


.second-title {
    line-height: 1.5;
}

.title_wrapper {
    margin: 15px 0;
    padding-right: 0 !important;
}

/* 首頁side bar */
.sidebar {
    background: #ffffff;
}

.aside_right .widget-area {
    border-width: 0;
}

#text-3 {
    background: #f3f3f3;
    padding: 5%;
    min-height: 370px;
    margin-bottom: 35px;
}

/* 首頁content */
.column_blog {
    width: 97.5% !important;
}

#home-header-section {
    left: 10px;
}


#home-header-section .column {
    margin: 0;
}

.title-bar-long {
    margin: 0 1% 20px;
}

/* 首頁好康分享 資源媒合 */

.Latest_news ul li .desc h2 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 0;
    line-height: 1.3;
}

.Latest_news ul li {
    box-shadow: var(--custom-shadow);
}

.Latest_news ul li .photo {
    border: 0;
}

.Latest_news ul li .photo img {
    height: 150px !important;
    object-fit: cover;
}

.Latest_news ul li.has-post-thumbnail .desc {
    padding: 10px 20px 0 10px;
}

.Latest_news ul li .desc h5 {
    line-height: 1.2;
}

.Latest_news ul li .desc .post-excerpt {
    margin: 0;
}

/* base overwrite */
.with_aside .section_wrapper {
    max-width: calc(100% - 35px);
}

.aside_right .widget-area {
    padding: 35px 35px 0 0;
}

#mobile-search #events-searchform {
    padding-top: 20px;
}

@media screen and (max-width: 768px) {
    .hide-mobile-view {
        display: none;
    }

    /* 列表 small screen */
    .posts_group,
    .index-events-section,
    .index-portfolio-section {
        grid-template-columns: 1fr !important;
    }

    /* homepage slider */

    #home-header-section .section_wrapper {
        padding: 0 !important;
    }

    #home-header-section {
        position: unset;
    }

    /* 好康分享/ 資源媒合 */
    .Latest_news ul li {
        display: grid;
    }

    .Latest_news ul li .photo {
        width: 100%;
    }

    .Latest_news ul li .photo img {
        width: 100%;
        height: unset !important;
        object-fit: unset;
    }

    .Latest_news ul li.has-post-thumbnail .desc {
        width: 100%;
        margin: 0;
        padding: 20px;
    }

}

@media screen and (max-width: 700px) {
    .entry-content {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 414px) {
    .mobile-search {
        padding: 0 !important;
    }

    #mobile-search {
        margin: 0 0 50px;
    }

    #home-header-section {
        padding-bottom: 0 !important;
    }

    #home-header-section .section_wrapper {
        max-width: 100vw !important;
    }
}