.media-frame.rml-media-modal .media-frame-menu {
    display: none !important;
}

.lohasit-customer-woocommerce .woocommerce-message.alert,
.woocommerce-error.alert {
    position: absolute;
    left: 39%;
}

/* 會員資料 */
.user-description-textarea {
    width: 100%;
    border: solid 1px var(--blue-color);
}

#user-gravatar-image {
    border: solid 2px #f1f1f1;
}

.user-page-nav-title {
    left: 40px;
}

.account-pagination {
    text-align: center;
    padding: 5%;
}

/* 收藏管理 */
.favorite-item-list {
    list-style: none !important;
}

.favorited-cancel {
    cursor: pointer;
}

/* 交流管理 */
#user-navigation-bbs-list li {
    background: #585b5f;
}

/* 網誌管理 */
#insert-blog-btn,
.user-blog-Feature-img {
    float: right;
}

.user-blog-list-table-title th {
    text-align: left;
}

#insert-blog-btn button,
.user-blog-Feature-img button {
    margin: 0 0 10px 0;
    width: 200px;
    background-color: var(--blue-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

#insert-blog-btn button::before {
    content: '+';
    border: solid 1px white;
    border-radius: 100px;
    font-size: 16px;
    padding: 2px 9.5px;
    margin-right: 10px;
}

.user-blog-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 新增修改網誌 */

.thickbox {
    display: none;
}

.user-blog-title input {
    width: 100%;
}

.user-blog-Feature-img button::before {
    content: url('/wp-content/uploads/2019/10/upload-button-4.png');
    margin-right: 10px;
}

#wp-blog_content-wrap .mce-toolbar .mce-btn-group .mce-btn {
    width: 50px;
}

#submit-blog {
    width: 95%;
    background-color: var(--blue-color);
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

#wp-blog_content-media-buttons,
#insert-media-button {
    width: 100%;
    height: 50px;
    border-radius: 0;

}

#insert-media-button {
    background-color: var(--dark-gray-color) !important;
}

/* 我的隱私設定 */
.user-privacy-section {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.item-display-select {
    width: 100%;
    border-color: var(--blue-color);
}

.user-privacy-list-div .favorite-item-list {
    margin: 0;
}

.user-privacy-section .item-title {
    font-size: 16px;
    font-weight: 500;
    color: var(--black-color);
    margin-bottom: 5px;
}

/* 我的主題 */
.topic-title-span,
.reply-content-span {
    font-size: 16px;
    color: var(--blue-color);
    font-weight: 500;
}

.topic-title-span::after,
.reply-content-span::after {
    content: ':';
    margin-right: 10px;
}

/* 登入頁 */
.woocommerce input[type="submit"],
.resend-register-Button {
    margin: 0 0 10px 0;
    width: 100%;
    background-color: var(--blue-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 0;
}

#customer_login h2 {
    font-size: 23px;
    font-weight: normal;
}

/* 重新發送驗證頁 */
.resend-register-section {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.resend-register-Input {
    width: 100% !important;
}